extends layout.pug

block index
  h2= status
  section#content
    h3 Sign up
    form(action="/sign-up",method="post")
        div
          label email:
            input(type="text",name="email")
        div
          label password:
            input(type="text",name="password")
        button(type="submit") Sign Up
    
    h3 Sign in
    form(action="/sign-in",method="post")
        div
          label email:
            input(type="text",name="email")
        div
          label password:
            input(type="text",name="password")
        button(type="submit") Sign In