extends layout.pug

block index
    section#content
        if name
            h2= `Hello ${name}.`
        else
            form(action="/trackname", method="get")
                label Enter your name and get a cookie free!
                    br
                    br
                    input(type="text", name="name")
                input(type="submit", value="Submit!")